<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href=""><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
							<li><a href=""><i class="fa fa-envelope"></i> info@domain.com</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li><a href=""><i class="fa fa-dribbble"></i></a></li>
							<li><a href=""><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header_top-->
	
	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-3 logo pull-left">
					<a href="index.php"><img src="assets/images/home/logo.png" alt="" /></a>
				</div>
				
				<div class="col-sm-6">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="index.php">Home</a></li>
							<li><a href="/sellingwebsite/showallproducts">Products</a></li>
							
							<?php if (isset($_SESSION['idUser'])) { ?>
							<li class="dropdown"><a href="#">Your cart <i class="fa fa-angle-down"></i></a>
								<ul role="menu" class="sub-menu">									
									<li><a href="/sellingwebsite/cart_detail">Cart</a></li>
									<li><a href="/sellingwebsite/payment">Payment</a></li>
								</ul>
							</li>
							<li><a href="/sellingwebsite/log_out">Logout</a></li>
							<?php } ?>
								
							<?php if (!isset($_SESSION['idUser'])) { ?>
							<li><a href="/sellingwebsite/log_in" >Login</a></li> 
							<li><a href="/sellingwebsite/sign_up" >Signup</a></li> 
							<?php } ?>
							
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<!--
					<div class="search_box pull-right">
						<input type="text" placeholder="Search"/>
					</div>
					-->
				</div>
			</div>
		</div>
	</div><!--/header-bottom-->
</header><!--/header-->